h1 {
 font-family: sans-serif;
 font-weight: bold;
 text-align: center;
 text-shadow: 2px 2px #D3D3D3;
}

p{
  text-align: center;
  font-family: sans-serif;

}
a{
  padding-left: 200px;
}
li{
  text-align: center;
  font-family: sans-serif;
  text-shadow: 2px 2px #F0F8FF;
}


img {
  height: 160px;
  width: 240px;
  border-width:10px;
  border-color: #000000;
  padding: 10px;
  border-style: solid;

}
